{% load staticfiles %}
<!-- FOOTER TOP SECTION START -->
<div>
	<div class="container">
		<div class="row">
       	
			<h4>Footer</h4>
		</div>
	</div>
</div>
<!-- FOOTER TOP SECTION END -->  
   

</div>
<!-- jQuery latest version -->
<script src="{% static 'js/vendor/jquery-3.1.1.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Ajax Mail js -->
<script src="{% static 'js/ajax-mail.js' %}"></script>
<!-- Main js -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>