{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}


<div class="container">
   
</div>
<div class="page-section section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
              <h2 style="margin-top:4em;"> 
                {% for cur in list_courses %}
                  {{ cur.name }} 
                {% endfor %}
              </h2> 
                <div class="login-reg-form">
                
                  {% if modules %}
                    <h3 style="margin-top:2em;">Modulos</h3>
              
                    {% for c_mod in modules %}
                        <ul class="list-group">
                          <li class="list-group-item"><a href="{% url 'resources' pk=c_mod.pk %}">{{ c_mod.id }}    {{ c_mod.name }} ({{ c_mod.description }})</a></li>
                        </ul>
                    {% endfor %}

                    {% if user.user_type == 3 %}
                    <form class="post-form" method="POST" action="{% url 'student_add'%}">
                        {% csrf_token %}
                        {{ formStudent.as_p }} 
                        <input type="hidden" name="user_student" value="{{user.id}}">
                        <input type="hidden" name="course" value="{{IdCourse}}">


                          {% if StudentExist == 0 %}
                            <div class="row">
                                <div class="col-xs-12">
                                  <button type="submit" id="btn_sub" class="save btn btn-default">Inscribirme</button>
                                </div>
                            </div>
                          {%endif%}
                        
                    </form>
                    {% endif %}
                  {% else %}
                    <h3>No se ha registrado ningún módulo</h3>
                  {% endif %}






                  {% if user.user_type == 2 and IdInstructor == user.id %}
                  <form class="post-form" method="POST" action="{% url 'modules_new' pk=IdCourse %}">
                      {% csrf_token %}
                      <div class="row">
                      	  <div class="col-xs-12">
                            <a href="{%url 'users_detail' pk=user.id %}">
                                  <button type="button" id="btn_sub" class="save btn btn-default">Regresar</button>
                                </a>

                              <button type="submit" id="btn_sub" class="save btn btn-default">Agregar Módulo</button>
                          </div>
                      </div>
                  </form>
                  {%else%}
                    <a href="{%url 'users_detail' pk=user.id %}">
                      <button type="button" id="btn_sub" class="save btn btn-default">Regresar</button>
                    </a>

                  {% endif %}

                  <div>
                    {% if Students %}
                        <h3 style="margin-top:2em;">Alumnos registrados</h3>
                    
                    
                    
                      {% for lsStudent in Students %}

                        <div>
                          <img src={{lsStudent.user_student.image.url}} style="width:55px; "> {{ lsStudent.user_student.first_name }} {{ lsStudent.user_student.last_name }}
                        </div> 
                       
                        {% if user.user_type == 2 and lsStudent.user_student.id  == user.id %}
                        <label>Hola ya existe</label>
                        {%endif%}


                        {%if lsStudent.user_student.id == user.id %}
                      
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}