{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}


<div class="container">
   
</div>
<div class="page-section section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
              <h2 style="margin-top:4em;"> 
                {% for cur in list_courses %}
                  {{ cur.name }} 
                {% endfor %}
              </h2> 
                <div class="login-reg-form">

                  holaaa {{user.id}}

                    

                  {% if no_modules > 0 %}
                  <h3 style="margin-top:2em;">Modulos</h3>
              
                    {% for c_mod in modules %}
                        <ul class="list-group">
                          <li class="list-group-item"><a href="{% url 'resources' pk=c_mod.pk %}">{{ c_mod.id }}    {{ c_mod.name }} ({{ c_mod.description }})</a></li>
                        </ul>
                    {% endfor %}


                    {% if user.user_type == 3 %}
                    <form class="post-form" method="POST" action="">
                      asdasdas
                        {% csrf_token %}
                        {{ formStudent.as_p }}                 
                         
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="{% url 'student_add' studentId=user.id courseId=IdCourse %}"><button type="submit" id="btn_sub" class="save btn btn-default">Inscribirme</button></a>
                            </div>
                        </div>
                    </form>
                    {% endif %}

                  
                  {% else %}
                    <h3>No se ha registrado ningún módulo</h3>
                  {% endif %}



                  {% if user.user_type == 2 %}
                  <form class="post-form" method="POST" action="{% url 'modules_new' pk=IdCourse %}">
                      {% csrf_token %}
                      <div class="row">
                      	  <div class="col-xs-12">
                              <button type="submit" id="btn_sub" class="save btn btn-default">Agregar Módulo</button>
                          </div>
                      </div>
                  </form>
                  {% endif %}
                  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}