{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}


<div class="page-section section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <h2 style="margin-top:4em;">Agregar Modulos</h2>
                <div class="login-reg-form">
                    <form class="post-form" method="POST" action="{% url 'modules_add'  pk=idCourse %}">
                        {% csrf_token %}
                        <div class="row">
                            {{ form.as_p }}  
                            <div class="col-xs-12">
                                <a href="{%url 'modules' pk=idCourse %}">
                                  <button type="button" id="btn_sub" class="save btn btn-default">Cancelar</button>
                                </a>
                                <button type="submit" id="btn_sub" class="save btn btn-default">Crear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}