{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">

<div class="page-section section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
              <h2 style="margin-top:4em;">
                {% for lsmod in list_module %}
                  {{ lsmod.name }}
                {% endfor %}
              </h2>
              <div class="login-reg-form"> 
                  {% if no_resources > 0 %}
                  <h1 style="margin-top:2em;">Contenido</h1>
                  
                      {% for resource in resources %}
                          <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'resource_detail' pk=resource.pk %}">{{ resource.title }}</a></li>
                          </ul>
                      {% endfor %}
                    
                  {% else %}
                    <h2>No se encontró contenido para este módulo</h2>
                  {% endif %}

                  <form class="post-form" method="POST" action="{% url 'resource_new' pk=IdModule %}">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-xs-12">
                              <button type="submit" id="btn_sub" class="save btn btn-default">Agregar contenido</button>
                          </div>
                      </div>
                  </form>

              </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}