{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
  <h2 style="margin-top:5em;">Comunidad Nuts</h2>
  {%for lsusers in list_users %}
  <ul class="list-group">
    <li class="list-group-item">
    	{% if lsusers.user_type == 1 %}
    		<a href="{% url 'users_detail' pk=lsusers.id %}">{{ lsusers.first_name }} {{ lsusers.last_name }} </a>Admin
	    {% elif lsusers.user_type == 2 %}
		    <a href="{% url 'users_detail' pk=lsusers.id %}">{{ lsusers.first_name }} {{ lsusers.last_name }} </a>Maestro
    	{% elif lsusers.user_type == 3 %}
		    <a href="{% url 'users_detail' pk=lsusers.id %}">{{ lsusers.first_name }} {{ lsusers.last_name }} </a>Alumno
    	{% endif %}

    </li>
  </ul>
  {% endfor %}
</div>

{% endblock content %}